<div>
  <h5>Reset Your Password</h5>
  <p>
    We sent a reset password email to <%= @user_email %>. Please click the reset password link to set your new password.

    Haven't you receive the email yet?
    Please check your spam folder, or try again.
  </p>
</div>