<div class="send-password-reset-link">
  <h5>Reset Your Password</h5>
  <div>
    <p>We sent a reset password email to <%= @user_email %>. Please click the reset password link to set your new password.</p>

    <p>Haven't you received the email yet? Please check your Spam folder, or <%= link_to "try again", get_forget_password_url %>.</p>
  </div>
</div>