<p> Hi <%= @user.name %>,</p>

<p>
  Welcome to SSID! Click on the link below to activate your account:
</p>

<% link = (Rails.env == "production" ? url_for(:protocol => "#{Rails.application.config.protocol}", :host => "#{Rails.application.config.host}", :controller => "account_activations", :action => "edit", :id => @user.activation_token, :email => @user.email)
                                     : url_for(:protocol => "#{Rails.application.config.protocol}", :host => "#{Rails.application.config.host}", :port => "3000",:controller => "account_activations", :action => "edit", :id => @user.activation_token, :email => @user.email)) %>

<%= link_to "Activate", link %>

<p>Thank you.</p>
  
<p><%= ApplicationHelper::SSID_MAINTAINER %></p>