<div>
  <p>Your SSID account has been approved!</p>

  <p>
    Click the link below to sign in to your SSID accont<br>
    <% website = (Rails.env == "production" ? url_for(:protocol => "#{Rails.application.config.protocol}", :host => "#{Rails.application.config.host}", :controller => "users/sessions", :action => "index")
                                            : url_for(:protocol => "#{Rails.application.config.protocol}", :host => "#{Rails.application.config.host}", :port => "3000",:controller => "users/sessions", :action => "index")) %>
    <%= link_to "Click here", website %>
  </p>
    
  <p>Thank you.</p>
  
  <p><%= ApplicationHelper::SSID_MAINTAINER %></p>
</div>