<div>
  <p>Dear SSID user,</p>

  <p>The password for your account (<%= @user_email %>) was successfully reset on <%= @reset_time %>.</p>

  <p>If you have any questions, please <%= mail_to ApplicationHelper::SSID_MAINTAINER_EMAIL, "contact us" %></p>

  <p>Thank you.</p>
  
  <p><%= ApplicationHelper::SSID_MAINTAINER %></p>
</div>