<div>
  <p>Dear SSID user,</p>

  <p>The password for your account (<%= @user_email %>) was successfully reset on <%= @reset_time %>.</p>

  <p>If you have any questions, please <%= mail_to "wing.nus@gmail.com", "contact us" %></p>

  <p>Thank you.</p>
  
  <p>The SSID Team</p>
</div>