<div>
  <p>You're receiving this e-mail because you or someone else has requested a password reset for your SSID account.</p>

  <p>
    Click the link below to reset your password:<br>
    <%= @reset_link %>
  </p>
  
  <p>If you did not request a password reset you can safely ignore this email.</p>
  
  <p>Thank you.</p>
  
  <p><%= ApplicationHelper::SSID_MAINTAINER %></p>
</div>