<div>
  <p>Hi there,</p>

  <p>You have requested to reset password.</p>
  
  <p>But there is no SSID account registered with this email address.</p>

  <p>You might want to take a look at <%= link_to "our website", cover_url%> and request for an account.</p>
  
  <p>Thank you.</p>
  
  <p>The SSID Team</p>
  
</div>