<h1>Listing submission_logs</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @submission_logs.each do |submission_log| %>
  <tr>
    <td><%= link_to 'Show', submission_log %></td>
    <td><%= link_to 'Edit', edit_submission_log_path(submission_log) %></td>
    <td><%= link_to 'Destroy', submission_log, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Submission log', new_submission_log_path %>
