div.title {
    font-size: large;
    text-align: left;
    text-decoration: underline;
    font-style: normal;
    font-weight: bold;
}

div.menu {
    padding: 5px;
}

table {
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-top-width: 0px;
    width: 100%;
}

table.listing {
    border-collapse: collapse;
    /*border: 2px solid #000;*/
    color: #555;
    background: #fff;
    table-layout: fixed;
}

thead th.listing {
    padding: 3px 10px 3px 10px;
    margin-right: 3px;
    text-transform: uppercase;
    text-align: left;
    font-weight: bold;
    /*color: #333;*/
    color: white;
    background: transparent;
    background-color: #E7860D;
    border: 1px solid black;
}

tbody td.mainMenu {
    background-color: #FFFBD6;
}

tbody td.listing {
    border: 1px dotted #bbb;
    text-align: left;
    vertical-align: top;
    padding-left: 10px;
    cursor: pointer;
}

div.instruction {
    text-align: right;
    width: 100%;
    font-style: italic;
}

tr.welcome {
    /*background-color: #FF6C00;*/
    background-image: url('../images/orangeE.jpg');
    background-repeat: repeat-x;
    vertical-align: bottom;
    -moz-user-select: none;
    cursor: default;
}

td.welcome {
    font-size: x-large;
    width: 100%;
    text-align: left;
    text-indent: 10px;
    color: navy;
    font-weight: bold;
    height: 100%;
    padding-bottom: 20px;
}

div.breadcrumb {
    padding-top: 10px;
    font-size: 85%;
}

a.breadcrumbItem {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a.breadcrumbItem:hover {
    color: #FF6C00;
    background-color: transparent;
}

td.topMenu {
     width:100px; 
     vertical-align: top; 
     background-color: #FF6C00;
}

td.topMenuItem {
    text-align: center;
}

a.topMenuItem {
    color: white;
    text-decoration: none;
    background-color: transparent;
}

a.normalLink {
    color: black;
    background-color: transparent;
}

a.normalLink:hover {
    color: #FF6C00;
}

tbody a.listingItem {
    color: #555;
    background-color: transparent;
}

tbody a.listingItem:hover {
    color: #FF6C00;
}

table.menu {
    width: 100%;
    table-layout: fixed;
    vertical-align: top;
    background-color: #FFFBD6;
    min-height: 100%;
    height: 100%;
}
td.menu {
    background-color: #FFFBD6;
    white-space:nowrap;
    vertical-align: top;
}

font.header {
    font-size:x-large;
    font-weight:900;
}

font.graph {
    font-size:smaller;
}

h1 {
    display:inline-block;
    color: navy;
}

h2 {
    color: navy;
}

h3 {
    color: navy;
}