div.popup {
    z-index: 1;
}

div.popup div.menu_form_header
{
    border: 1px solid black;
    border-bottom: none;

    height: 20px;
    width: 380px;
    line-height: 19px;
    vertical-align: middle;

    background-color: #dae0f1;
    text-decoration: none;
    font-family: "Times New Roman", "Serif";
    font-weight: 900;
    font-size:  13px;
    color:   #206040;
    cursor:  default;
    cursor: move;
}

div.popup div.menu_form_body
{
    border: 1px solid black;
    padding: 5px;
    background-color: #eaf3fc;
    max-height: 150px;
    overflow: auto;
}

div.popup img.menu_form_exit
{
    float:  right;
    margin: 4px 5px 0px 0px;
    cursor: pointer;
}
