<%
=begin
This file is part of SSID.

SSID is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

SSID is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with SSID.  If not, see <http://www.gnu.org/licenses/>.
=end
%>

<h2>Announcements</h2>
<p />
<table cellpadding="0" cellspacing="0">
  <%
  count = 0
  @announcements.each do |announcement|
    if count != 0
    %>
      <tr><td><hr /></td></tr>
    <%
    end
    acc = announcement.account
  %>

    <tr>
      <th>
        <table cellpadding="0" cellspacing="0">
          <col width="1*"/>
          <col width="1*"/>
          <tr>
            <td style="white-space: nowrap" align="left">Creator: <%=h acc.login %></td>
            <td style="white-space: nowrap" align="right">Updated at: <%=h format_datetime(announcement.updated_at) %></td>
          </tr>
        </table>
      </th>
    </tr>
    <tr>
      <td width="100%" colspan="2"><%= announcement.content %><hr/></td>
    </tr>
  <% end %>
</table>

<br />