<h2><%= @course.code %> Users</h2>

<table>
  <thead>
    <tr>
      <th>Full Name</th>
      <th class="id_col">ID</th>
      <th class="role_col">Role</th>
    </tr>
  </thead>
  <tbody>
    <% (@staff + @teaching_assistants + @students).each { |user| %>
      <tr>
        <td><%= user.full_name || "--" %></td>
        <td><%= user.id_string %></td>
        <td><%= @course.role_for_user(user) %></td>
      </tr>
    <% } %>
  </tbody>
</table>
