<%= form_for(@submission_cluster_membership) do |f| %>
  <% if @submission_cluster_membership.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@submission_cluster_membership.errors.count, "error") %> prohibited this submission_cluster_membership from being saved:</h2>

      <ul>
      <% @submission_cluster_membership.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
