<div class="col-md-6">
  <h4>Add Course User</h4>




  <%= form_with url: "users/search", method: :get do |form| %>
    <%= form.label :query, "Search for email: " %>
    <%= form.email_field :query %>
    <%= form.submit "Search" %>
  <% end %>
</div>
