<div id="visualize_content">
  <h2><%= @course.code %> Visualizations</h2>
  <div>
    <p>These visualizations are provided to assist plagiarism pattern analysis on submissions for the course. They are:</p>
    <ul>
      <li><strong>Similarity Cluster Graph</strong>: Provides a graphical visualization for one or more submission similarity clusters from any assignment in the course</li>
      <li><strong>Similarity Cluster Table</strong>: Provides a tabular visualuzation for one or more submission similarity clusters from any assignment in the course</li>
      <li><strong>Top Similar Submissions</strong>: Provides a ranked list of most similar submissions for any chosen submission</li>
    </ul>
    <p>Please choose a visualization from the left menu.</p>
  </div>
</div>
