<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content rounded-4">
    <div class="modal-header border-bottom-0">
      <h5 class="modal-title" id="modalTitle"><%= @modal.title %></h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body pt-0">
      <%= @modal.supporting_text %>
    </div>
    <div class="modal-footer pt-0 border-top-0">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      <%= button_to @modal.primary_action[:name], "", :method => @modal.primary_action[:method], :class => "btn btn-primary" %>
    </div>
  </div>
</div>

<script>
  /* Remove action url when cancel action is triggered */
  $(".btn-close").click((event) => {
    $(".modal-footer > .button_to").attr("action", "");
  })

  $(".btn-secondary").click((event) => {
    $(".modal-footer > .button_to").attr("action", "");
  })
</script>