<%= form_for(@submission_similarity_process) do |f| %>
  <% if @submission_similarity_process.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@submission_similarity_process.errors.count, "error") %> prohibited this submission_similarity_process from being saved:</h2>

      <ul>
      <% @submission_similarity_process.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
