/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 // Custom bootstrap variables must be set or imported *before* bootstrap.
 @import "bootstrap_custom";
//  @import "announcements";
//  @import "assignments";
//  @import "courses.css";
//  @import "scaffolds.css";
//  @import "sessions.css";
//  @import "site.css";
//  @import "submission_cluster_groups.css";
 
//  @import "submission_clusters";
//  @import "submission_logs.css";
//  @import "submission_similarities.css";
//  @import "users.css";

/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.btn-signup {
    @extend .btn-primary;
    background-color: #003d7c !important;
    height: 3rem; 
    color: white;
}

.btn-signup:hover {
    background-color: white !important;
    color: #003d7c !important;
}

.btn-signup:active {
    border-style: outset !important; 
}

.btn-login {
    background-color: transparent;
    height: 3rem; 
    color: #003d7c;
    padding: 1rem;
}

// background-color: transparent; color: #003d7c; height: 3rem; padding: 1rem