// This file is part of SSID.
//
// SSID is free software: you can redistribute it and/or modify
// it under the terms of the GNU Lesser General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// SSID is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Lesser General Public License for more details.
//
// You should have received a copy of the GNU Lesser General Public License
// along with SSID.  If not, see <http://www.gnu.org/licenses/>.
@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/utilities";

@import "bootstrap/tables";

body.assignments_index {
  .assignment_header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: $spacer * 1.25;
    margin-bottom: $spacer * 0.5;
  }

  h4 {
    margin-right: $spacer * 1.5;
  }

  div.actions {
    a {
      &, &:hover, &:visited {
        margin-right: $spacer * 0.75;
      }
    }
  }

  table {
    @extend .table;
    @extend .table-bordered;
    @extend .table-hover;
  }

  table.erroneous_assignments, table.processing_assignments, table.empty_assignments {
    td.processing {
      color: rgb(51, 51, 51);
    }
    margin-bottom: $spacer * 3;
  }

  table.processed_assignments {
    .assignment_view_actions {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
    margin-bottom: $spacer * 5;
  }

  div.notice {
    margin-bottom: $spacer;
    color: rgb(0, 160, 0);
  }
}

body.assignments {
  label {
    margin-top: $spacer * 0.5;
  }

  input.submit {
    margin-top: 15px;
  }

  // div.field_with_errors {
  //   display: inline-table;
  // }

  div.note {
    font-size: 11px;
  }
}

body.assignments_new, body.assignments_create, body.assignments_show {
  form input#assignment_mapbox, form input#assignment_used_fingerprints {
    margin-top: $spacer * 0.75;
    margin-left: $spacer;
  }
}

body.assignments_show_log {
  pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
  }
}
