// This file is part of SSID.
//
// SSID is free software: you can redistribute it and/or modify
// it under the terms of the GNU Lesser General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// SSID is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Lesser General Public License for more details.
//
// You should have received a copy of the GNU Lesser General Public License
// along with SSID.  If not, see <http://www.gnu.org/licenses/>.
@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/utilities";

@import "bootstrap/reboot";
@import "bootstrap/type";
@import "bootstrap/tables";
@import "bootstrap/dropdown";

body.courses_index {
  .course_header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: $spacer * 1.25;
    margin-bottom: $spacer * 0.5;

    h4 {
      margin-right: $spacer * 2;
    }
  }

  h5, h6 {
    color: rgb(0, 0, 128);
    margin-right: 1.5rem;
  }

  table {
    @extend .table;
    @extend .table-bordered;
    @extend .table-hover;

    td.course_view_actions {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }

  #courseDropdownMenuLink {
    text-decoration: none;
  }

  ul {
    li {
      a.course_menu_item {
        @extend .dropdown-item;
        margin-right: 0.5rem;
      }
    }
  }
}

body.courses {
  h5, h6 {
    color: rgb(0, 0, 128);
    margin-right: 2rem;
  }

  label {
    width: 200px;
    margin-top: 5px;
    display: inline-block;
  }

  // div.field_with_errors {
  //   display: inline-table;
  //   padding: 0;
  // }

  div.notice {
    color: rgb(0, 160, 0);
    margin-bottom: 15px;
  }
}

body.edit_course {
  background-color: rgb(0, 160, 0);
}
