// This file is part of SSID.
//
// SSID is free software: you can redistribute it and/or modify
// it under the terms of the GNU Lesser General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// SSID is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Lesser General Public License for more details.
//
// You should have received a copy of the GNU Lesser General Public License
// along with SSID.  If not, see <http://www.gnu.org/licenses/>.
@import "bootstrap_custom";

html { 
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-width: 800px;

  div.alert {
    color: var(--bs-red);
  }
}

h2, h3, h4, h5, h6 {
  color: #003d7c;
}

.site {
  @extend .text-center;
}

.site_header {
  @extend .mb-3;

  .site-login {
    padding: 1.25rem 0.5rem;
    margin-left: auto;

    span {
      a {
        text-decoration: none;
      }
    }
  }

  .site-login-hidden {
    display: none;
  }
}

.site-subtitle {
  font-size: 1.125rem;
  color: #003d7c;
}

p {
  font-size: 1.125rem;
}

.site-introduction {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: $spacer * 2.5;
  margin-bottom: $spacer * 10;

  .site_logo {
    padding: 1.25rem 0.5rem;
  }

  .btn-start {
    @extend .btn-primary;
    background-color: #003d7c !important;
    height: 3.5rem;
    padding: 1rem;
    width: 100%;
    margin-top: 2rem;
  }

  .btn-start:hover {
    @extend .btn-primary;
    color: #003d7c !important;
    background-color: white !important;
  }

  .site-subtitle2 {
    margin-top: 2rem;
    padding-left: 1.5rem;
    color: #003d7c;
  }

  .site-motto {
    width: 38%;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 3.75rem;
    color: #003d7c;
    margin-top: $spacer * 2.5;

  }

  .site-motto em {
    color: #003d7c;
    font-style: normal;
  }

  div.site-clip {
    width: 62%;
    padding: 3rem 3rem 1rem 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.site-features-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: $spacer * 10;
  margin-bottom: $spacer * 10;

  .site-screenshot {
    width: 50%;
  }

  .site-screenshot-img {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .site-features {
    width: 50%;
    margin-left: 2 rem;
  }
}

.site-testimonials {
  width: 100vw;
  position: relative;
  left: calc(-50vw + 50%);
  height: 500px;
  background-color: #003d7c;
  text-align: "center";

  .testimonial-heading {
    text-align: center; 
    width: 100%;
    padding: 3.5rem;
  }

  .testimonial-cards {
    display: flex;
    justify-content: center;
  }

  .card {
    width:28%;
    height:450px;
  }

  .testimonial-author {
    position: absolute;
    bottom: 2rem;
  }

}

.site-faq {
  height: 550px;
  margin-top: $spacer * 8;
  .faq-heading {
    text-align: center; 
    width: 100%;
    padding-top: $spacer * 4;
    padding-bottom: $spacer * 4;
  }
  .accordion-button {
    background: white !important;
    color: black !important;
  }
}

.site-footer {
  width: 100vw;
  height: 350px;
  position: relative;
  left: calc(-50vw + 50%);
  display: flex;
  flex-direction: row;
  background-color: #003d7c;
  color: white !important;

  .actioncall-heading {
    text-align: center; 
    width: 100%;
    padding-top: $spacer * 3;
    padding-bottom: $spacer * 3;
  }

  .btn-actioncall {
    @extend .btn-primary;
    position: absolute;
    top: 7rem;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    background-color: white !important;
    color: #003d7c;
    height: 3.5rem;
    padding: 1rem;
    width: 200px;
    margin-top: 2rem;
  }

  .btn-actioncall:hover {
    @extend .btn-primary;
    color: #003d7c;
  }
  .footer {
    .copyright {
      position: absolute;
      bottom: 1rem;
      left: 3.5rem;
      color: white !important;
    }

    ul {
      list-style: none;
      position: absolute;
      bottom: 0;
      right: 3.5rem;
      li {
        display: inline-block;
        a {
          text-decoration: none;
        }
      }
    }

    a {
      color: white !important;
      text-decoration: inherit;
      margin:0;
    }
  
  }
}

.forget-password-helper-text, .login_helper_text {
  @extend .mt-3;
  @extend .mb-3;
  @extend .fw-normal;
  color: #003d7c;
}

.site_copyright {
  @extend .mt-5;
  @extend .mb-3;
  @extend .text-muted;
}

.site-password-reset-link, .site_login {
  @extend .w-100;
  @extend .btn;
  @extend .btn-primary;
}

p.none_created {

  padding: 5px;
  text-align: center;
  font-style: italic;
}

table {
  tr.highlight td {
    background-color: yellow;
  }
} 

#site-banner-login {
  margin: 0;
  height: 75%;
  width: 80%;
  padding: 1.25rem 0.5rem;
  font-size: 2rem;
  font-weight: 700;
  color: #003d7c;
}

#site_banner {
  @extend .order-0; 
  margin: 0;
  height: 75%;
  padding: 1rem 0.5rem;
  font-size: 2rem;
  font-weight: 400;
  color: #003d7c;
}

#menu {
  @extend .order-1;
  @extend .ms-md-auto;
  padding: 0rem;
  @extend .navbar-nav;
  flex-direction: row;
  @extend .flex-wrap;

  li {
    @extend .nav-item;
    @extend .px-2;
    @extend .py-1;

    a {
      &, &:visited {
        @extend .nav-link;
        color: var(--bs-gray-600);
      }
      &:hover {
        color: #003d7c;
        border-bottom: 3px solid #ef7c00;
      }
    }

    &.active_menu_item a {
      color: #003d7c;
      border-bottom: 3px solid #ef7c00;
    }
  }
}

#content {
  margin: 0 1rem 1rem;
}

ol.breadcrumb {
  padding-top: 0.5rem;
  color: rgb(51, 51, 51);

  li a {
    &, &:hover, &:visited {
      background-color: rgb(255, 255, 255);
      color: rgb(51, 51, 51);
      text-decoration: none;
    }
    &:hover {
      color: #ef7c00;
    }
  }
}

div.notice {
  margin-bottom: $spacer;
  color: rgb(0, 160, 0);
}
