// This file is part of SSID.
//
// SSID is free software: you can redistribute it and/or modify
// it under the terms of the GNU Lesser General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// SSID is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Lesser General Public License for more details.
//
// You should have received a copy of the GNU Lesser General Public License
// along with SSID.  If not, see <http://www.gnu.org/licenses/>.

body {
  margin: 0;
  padding: 0;
  min-width: 800px;

  div.alert {
    color: rgb(255, 0, 0);
  }
}

h2, h3 {
  color: rgb(0, 0, 128);
}

p.none_created {
  border: 1px dashed black;
  padding: 5px;
  text-align: center;
  font-style: italic;
}

table {
  tr.highlight td {
    background-color: yellow;
  }
}

#top_banner {
  display: block;
  margin: 0;
  height: 40px;
  padding: 50px 15px 0;
  font-size: 24px;
  background-image: url('orangeE.jpg');
  background-repeat: repeat-x;
  color: rgb(0, 0, 128);
}

#menu {
  margin: 0;
  background-color: rgb(255, 108, 0);
  display: block;
  height: 22px;
  overflow: auto;
  padding: 0;

  li {
    list-style: none;
    float: left;
    width: 20%;
    height: 25px;
    text-align: center;

    a {
      &, &:visited {
        display: inline-block;
        width: 100%;
        color: rgb(255, 255, 255);
        text-decoration: none;
        background-color: rgb(255,108,0);
        height: 25px;
      }
      &:hover {
        color: rgb(255, 108,0);
        background-color: rgb(252, 228, 77);
      }
    }

    &.highlight, &.highlight a {
      color: rgb(255, 108,0);
      background-color: rgb(252, 228, 77);
    }

  }
}

#menu.admin li {
  width: 16.6666666%;
}

#content {
  margin: 0 15px 15px;
}

div.breadcrumb {
  padding-top: 10px;
  font-size: 11px;
  color: rgb(51, 51, 51);

  a {
    &, &:hover, &:visited {
      background-color: rgb(255, 255, 255);
      color: rgb(51, 51, 51);
      text-decoration: none;
    }
    &:hover {
      color: rgb(255, 108, 0);
    }
  }
}
