body.submission_logs {
  table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;

    th {
      border: 1px solid rgb(0, 0, 0);
      background-color: rgb(231, 134, 13);
      color: rgb(255, 255, 255);
      font-weight: bold;
      text-transform: uppercase;
      padding: 3px 10px;
      text-align: left;
    }

    th.date_time_col, th.marker_col {
      width: 200px;
    }
    
    td {
      border: 1px dotted #bbb;
      padding: 3px 10px;

      a {
        &, &:hover, &:visited {
          background-color: rgb(255, 255, 255);
        }
        &:hover {
          color: rgb(255, 108, 0);
        }
      }
    }
  }
}
