body.users_index {
  table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;

    th {
      border: 1px solid rgb(0, 0, 0);
      background-color: rgb(231, 134, 13);
      color: rgb(255, 255, 255);
      font-weight: bold;
      text-transform: uppercase;
      padding: 3px 10px;
      text-align: left;

      &.role_col {
        width: 125px;
      }

      &.id_col {
        width: 125px;
      }
    }
    
    td {
      border: 1px dotted #bbb;
      padding: 3px 10px;
    }
  }
}
