// This file is part of SSID.
//
// SSID is free software: you can redistribute it and/or modify
// it under the terms of the GNU Lesser General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// SSID is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Lesser General Public License for more details.
//
// You should have received a copy of the GNU Lesser General Public License
// along with SSID.  If not, see <http://www.gnu.org/licenses/>.
@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/utilities";

@import "bootstrap/tables";

body.users {
  form {
    label {
      width: 200px;
      margin-top: 5px;
      display: inline-block;
    }

    input.submit {
      margin-top: 15px;
    }
  }

  div.notice {
    margin-bottom: 15px;
    color: rgb(0, 160, 0);
  }

  div.field_with_errors {
    padding: 0px;
    display: inline-table;
  }

  hr {
    margin-top: 15px;
  }

  div.new_user {
    margin-top: 10px;
  }
}

body.users_index {
  table {
    @extend .table;
    @extend .table-bordered;
    // border-spacing: 0;
    // border-collapse: collapse;
    // width: 100%;

    // th {
    //   border: 1px solid rgb(0, 0, 0);
    //   background-color: rgb(231, 134, 13);
    //   color: rgb(255, 255, 255);
    //   font-weight: bold;
    //   padding: 3px 10px;
    //   text-align: left;

    //   &.role_col {
    //     width: 125px;
    //   }

    //   &.id_col {
    //     width: 125px;
    //   }
    // }

    // th.actions_col {
    //   width: 110px;
    // }
    
    // td {
    //   border: 1px dotted #bbb;
    //   padding: 3px 10px;

    //   a {
    //     &, &:hover, &:visited {
    //       margin-right: 20px;
    //     }
    //     &:hover {
    //       color: rgb(255, 108, 0);
    //     }
    //   }
    //   a.last {
    //       margin-right: 0;
    //   }
    // }
  }
  .admin_users_section, .course_users_section, .lone_users_section {
    margin-bottom: $spacer * 3;
  }
}
