<h1>Listing submission_cluster_groups</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @submission_cluster_groups.each do |submission_cluster_group| %>
  <tr>
    <td><%= link_to 'Show', submission_cluster_group %></td>
    <td><%= link_to 'Edit', edit_submission_cluster_group_path(submission_cluster_group) %></td>
    <td><%= link_to 'Destroy', submission_cluster_group, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Submission cluster group', new_submission_cluster_group_path %>
