<%
=begin
This file is part of SSID.

SSID is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

SSID is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with SSID.  If not, see <http://www.gnu.org/licenses/>.
=end
%>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html style="height: 100%;" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>ID: <%= controller.action_name %></title>
    <%= stylesheet_link_tag 'scaffold', 'pds' %>
  </head>
  <body style="height: 100%; margin: 0px; padding: 0px;">
    <%= javascript_include_tag 'wz_tooltip.js' %>
    <table style="width: 100%; padding: 5px;" width="100%" cellpadding="0" cellspacing="0" border="0">
      <tr style="height: 90px;">
        <td style="">
          <table style="height:100%; width: 100%;" cellpadding="3" cellspacing="0" border="0">
            <tr class="welcome">
              <td class="welcome">Student Submissions Integrity Diagnosis (SSID) System</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td><p/></td>
      </tr>
      <tr style="">
        <td style="vertical-align: top; text-align: center;">
          <%= yield -%>
        </td>
      </tr>
    </table>
    <hr/>
    <p/>
    <div style="text-align: center;">Best viewed with 1280x800<br/>Compatible with FireFox 3.6 and above</div>
  </body>
</html>